@charset "utf-8";

.inner {width: 1400px;}

header {background: #fff;}
.container .main_bg {max-width:100vw; height: 400px; background: url(../img/visual_6.jpg) no-repeat center/cover;}
.container .Benner {height: 60px; border-bottom: 1px solid rgba(0,0,0,0.1);}
.container .Benner .inner {height: 100%; background: #602a19; text-align: center; line-height: 3.5;}
.container .Benner .inner a {color: #fff; font-size: 17px;}

.container .content h2 {font-weight: 600; padding: 30px 0;}
.container .content div {display: flex; width: calc(100%/1.3); padding: 0 30px; transition: all 1s; margin-bottom: 80px;}
.container .content div a {position: relative; display: block; width: 100%; height: 100%;}
.container .content h3 {font-weight: 600;}
.container .content .logoImg {width: 150px; height: 45px; padding: 35px 0 40px 0;}
.container .content .logoImg img {width: 100%; height: 100%;}
.container .content .logoImg:before {content: ""; display: block; width: 50px; height: 1px; background-color: #602a19; position: absolute; left: 0; top: 22%;}

.container .content .text {height: 200px; font-size: 16px; line-height: 1.8; margin-top: 30px;}
.container .content .bgImg {width: 100%; height: 300px;} 
.content .inner div:nth-child(1) .bgImg {background: url(../img/kswall_img1.png)no-repeat center/contain;}
.content .inner div:nth-child(2) .bgImg {background: url(../img/kswall_img2.png)no-repeat center/contain;}
.content .inner div:nth-child(3) .bgImg {background: url(../img/kswall_img3.png)no-repeat center/contain;}

